{date_of_today} {current_time} UTC <br><br>
        
<p>Hello,</p> 

<p><b>Here’s how people used JupiterSave today:</b></p>

<p>
<ul>
<li>Total saved amount: <b>{total_saved_amount_today}</b> </li> 

<li>Number of users that saved today: <b>{number_of_users_that_saved_today}</b> [vs 3day avg: {three_day_average_of_users_that_saved} vs 10 day avg: {ten_day_average_of_users_that_saved} ] </li>

<li>Number of new users which joined today [today: {number_of_users_that_joined_today} vs 3day avg: {three_day_average_of_users_that_joined} vs 10 day avg: {ten_day_average_of_users_that_joined}] </li> 

<li>Total Jupiter SA users at start of day: {total_users_as_at_start_of_today} </li>
</ul>
</p>

Total Withdrawal Amount Today: {total_withdrawn_amount_today} <br><br> 

Number of Users that Withdrew [today: {number_of_users_that_withdrew_today} vs 3day avg: {three_day_average_of_users_that_withdrew}  vs 10 day avg: {ten_day_average_of_users_that_withdrew}] <br><br> 
        
Percentage of users who entered app today / Total Users: {percentage_of_users_that_entered_app_today_versus_total_users} <br><br> 

Number of Users that tried saving (entered savings funnel - first event) [today: {number_of_users_that_tried_saving_today} vs 3day avg: {three_day_average_of_users_that_tried_saving} vs 10 day avg: {ten_day_average_of_users_that_tried_saving}] <br><br> 

Number of users that tried withdrawing (entered withdrawal funnel - first event) [today: {number_of_users_that_tried_withdrawing_today} vs 3day avg: {three_day_average_of_users_that_tried_withdrawing} vs 10 day avg: {ten_day_average_of_users_that_tried_withdrawing}] <br><br> 

Number of new users that saved today: {number_of_users_that_joined_today_and_saved} <br><br> 

Percentage of users that saved / users that tried saving: {number_of_users_that_saved_today_versus_number_of_users_that_tried_saving_today} <br><br> 

% of users whose Boosts expired without them using today: {percentage_of_users_whose_boosts_expired_without_them_using_it} <br><br> 

% of users who signed up 3 days ago who have not opened app since then: {percentage_of_users_who_signed_up_three_days_ago_who_have_not_opened_app_since_then} <br><br><br><br>

{comparison_result_of_users_that_withdrew_against_number_that_saved} <br><br>
