attrs==19.3.0
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
coverage==5.0.3
google-api-core==1.14.3
google-auth==1.7.0
google-cloud-bigquery==1.21.0
google-cloud-core==1.0.3
google-cloud-storage==1.22.0
google-resumable-media==0.4.1
googleapis-common-protos==1.51.0
idna==2.8
importlib-metadata==1.4.0
mock==3.0.5
more-itertools==8.1.0
packaging==20.0
pluggy==0.13.1
protobuf==3.10.0
py==1.8.1
pyasn1==0.4.7
pyasn1-modules==0.2.7
pyparsing==2.4.6
pytest==5.3.2
python-dotenv==0.10.3
pytz==2019.3
requests==2.22.0
rsa==4.0
six==1.13.0
urllib3==1.25.7
wcwidth==0.1.8
zipp==1.0.0
